body {
    font-family: "Roboto", sans-serif;
    margin: 0px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px 0px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
nav h1 {
    font-weight: 400;
}
nav a {
    text-decoration: none;
    color: rgb(138, 138, 138);
    font-size: 18px;
    font-weight: 400;
}
nav ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}
nav li {
    padding: 0px 26px;
}
#get-a-quote {
    background-color: rgb(245, 177, 20);
    color: black;
    padding: 14px 22px;
}









.footer {
    background: #f5f5f5;
    padding: 40px 20px;
    color: #888;
  }
  
  .footer-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 40px;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .footer-col p {
    color: #000;
    margin-bottom: 15px;
    font-size: 14px;
  }
  
  .footer-col a {
    text-decoration: none;
    color: #f9b23d;
    display: block;
    margin: 6px 0;
    transition: 0.3s;
  }
  
  .footer-col a:hover {
    color: #e59500;
  }
  
  .footer-col p strong {
    color: #999;
  }
  .footer-col li {
    list-style-type: none;
    padding-left: 0%;
  }
  .footer-col ul{
    padding-left: 0%;
  }
  
  .social-icons a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    border: 1px solid #ccc;
    border-radius: 50%;
    color: #f9b23d;
    margin-right: 10px;
    font-size: 16px;
    transition: 0.3s;
  }
  
  .social-icons a:hover {
    background: #f9b23d;
    color: white;
    border-color: #f9b23d;
  }